.Row {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  float: left;
  @include display(flex);
  @include align-items(flex-end);
  @include display(1 0 0);
  @include flex-direction(column);
  overflow: hidden;
  position: relative;
  &.--hasBG {
    padding: 10px 0;
  }
}

.Row-header {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  @include flex(1 0 0);
  list-style-type: none;
  margin: 0 0 25px 0;
  font-weight: lighter;
  z-index: 20;
  position: relative;
  padding: 0 50px 0 250px;
  max-width: 1645px;
  ul {
    margin: 0;
    padding: 0;
    li {
      -webkit-padding-start: 0px;
      display: inline-block;
      position: relative;
      &:hover { cursor: pointer; }
      &:nth-child(2) { display: block; }
    }
  }
}

.Row-header-link {
  background: gray;  
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  font-weight: bolder;
  font-size: .9em;
  white-space: nowrap;
}

.Row-header-title {
  font-size: 2em;
}

.Row-header-subtitle {
  font-size: 1em;
  a {
    color: #555;
    margin-right: 5px;
  }
}

.Row-contents {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}

.Row-cards {
  padding: 10px 50px 10px 250px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

.Row-cards .Card {
  margin-right: 10px;
  z-index: 10;
  &:last-child {
    margin-right: 0;
  }
}

.Row-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: -1;
  height: 100%;
}

.--mobile .Row-header-link {
  position: relative;
  top: -10px;
}

.--mobile .Row-header ul {
  width: 70%;
}

/* safari bull shit */
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
  .Row,
  .Card-img-container span {
    display: -webkit-box !important;
  }
}
