.MenuMobile {
  position: fixed;
  top: $NAV_HEIGHT;
  z-index: 999999;
  height: 100vh;
  width: 260px;
  left: -260px;
  @include transition(all, 1s, ease-in);
  background: white;
}

.MenuMobile-link {
  width: 100%;
  float: left;
  height: 50px;
  line-height: 54px;
  font-size: 22px;
  color: #8d8d8d;
  text-transform: capitalize;
  font-weight: 300;
  padding-left: 50px;
}

.MenuMobile-links {
  float: left;
  width: 100%;
}

.MenuMobile-icn {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: 5px;
  margin-top: 5px;
  &.code {
    background-image: url('../images/apps_icon_mobile.png');
  }
  &.installation {
    background-image: url('../images/installations_icon_mobile.png');
  }
  &.performance {
    background-image: url('../images/performance_icon_mobile.png');
  }
  &.sculpture {
    background-image: url('../images/sculptures_icon_mobile.png');
  }
  &.video {
    background-image: url('../images/videos_icon_mobile.png');
  }
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.MenuMobile-squad {
  margin-top: 20px;
  float: left;
  width: 100%;
  background: #f5f5f5;
  color: #8d8d8d;
}

.MenuMobile-squadee {
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 50px;
  font-size: 18px;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
