.Page {
  color: black;
  font-family: 'Open Sans';
  float: left;
	width: 100%;
	height: 100%;
}

.App-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
	display: table;
	width: 100%;
  padding-top: $NAV_HEIGHT;
  > *:first-child {
    float: left;
    width: 100%;
    height: 100%;
  }
}