.Logo {
  height: 40px;
  width: 50px;
  margin-top: 5px;
  background-image: url('../images/art404_logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
