.Navigation {
  position: fixed;
  height: $NAV_HEIGHT;
  width: 100%;
  border-bottom: 2px solid $borderColor;
  padding: 0 40px;
  @include display(flex);
  @include align-items(center);
  z-index: 99999999;
  background: white;
  > * {
    @include flex(1);
    @include display(inline-flex);
  }
  svg {
    height: 100%;
    width: auto;
  }
  p {
    @include display(flex);
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

.Navigation-menu {
  @include justify-content(flex-start);

  p {
    @include display(flex);
    @include justify-content(flex-start);
  }
}

.Navigation-logo {
  @include justify-content(center);
}

.Navigation-login {
  @include justify-content(flex-end);

  p {  
    @include justify-content(flex-end);
  }
}

.Navigation-menu,
.Navigation-login {
  @include btn;
}
