.Navigation {
  position: relative;
  height: $NAV_HEIGHT;
  width: 100%;
  border-bottom: 2px solid $borderColor;
  padding: 0 40px;
  float: left;
  z-index: 99999999;
  background: white;
  height: 50px;
  text-align: center;
  > * {
    @include flex(1);
    @include display(inline-flex);
  }
}

.Navigation-logo {
  @include justify-content(center);
}
